.jumbotron {
    text-align: center;
    background: none;
}
.sectionLight {
    background-color: #eceeef;
    padding: 2rem;
 }

.coolstuffwarapper {
    margin-top: 20px;
 }

.textcolor {
    color: #ffffff;
    margin: auto;
    padding-top: 15px;
} 
.responsiveVideo {
    padding-right: 50px;
    padding-left: 90px;
    margin: auto;
    max-width: 100%;
    display: flex;
}

.imgCenter {
    display: block;
    margin: auto;
}
.btnCenter {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 290px;
}
.footerImg {
    padding: 15px;
    max-width: 50%;
}